<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Public/Styles/main.css">
    <link rel="icon" href="" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeTrack</title>
    <link rel="icon" href="../Assets/Icon 100px.png" type="image/png">

</head>
<body>
    
    <div class="sidebar">
        <header>
            <button class="setting"><img src="../Assets/Setting.png" alt="Setting"></button>
            <button class="add"><img src="../Assets/Add.png" alt="Add"></button>
        </header>
        <div class="space"></div>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
    </div>


    <div class="main">
        <div class="header">
            <img class="logo" src="../Assets/Logo dark no bg.png" alt="TradeTrack Logo">
            <div class="img-container" id="img-container">
                <img src="../Assets/Img.png" alt="Image Upload">
                <p>Drag and Drop Image or Simply</p>
                <button class="browse-btn" id="browse-btn">Browse</button>
                <input type="file" id="file-input" accept="image/*" multiple style="display: none;">
            </div>
            <button class="info-btn"><img src="../Assets/info.png" alt="Info"></button>
            <div>
                <button class="manual-add">
                    <p>Manually Add Trade</p>
                </button>
                <div class="inline">
                    <button class="analytic-btn"><img src="../Assets/Analytic.png" alt="Analytics"></button>
                    <button class="data-setting"><img src="../Assets/Setting.png" alt="Setting"></button>
                    <button class="export-xml"><img src="../Assets/Export.png" alt="Export XML"> XML</button>
                </div>
            </div>
            
        </div>
        

        <div class="content">
            <div class="space"></div>

            <div id="preview"></div>

            <div class="trade">
                <div class="info">
                    <div class="title">
                        <div class="trade-num"><h3>Trade <span class="num">1</span></h3></div>
                        <button class="edit"><img src="../Assets/Edit.png" alt="Edit"></button>
                        <button class="delete"><img src="../Assets/Delete.png" alt=""></button>
                    </div>
                    
                    <div>
                        <p>
                            <span class="pair-txt"><strong>Pair:</strong></span>
                            <span class="pair-name">EURUSD</span>
                            <span class="space"></span>

                            <span class="outcome-txt"><strong>Outcome:</strong></span>
                            <span class="outcome">Profit</span>
                            <span class="space"></span>

                            <span class="date-txt"><strong>Date:</strong></span>
                            <span class="date">12/5/2002</span>
                            <span class="space"></span>

                            <span class="time-txt"><strong>Time:</strong></span>
                            <span class="time">11:00 AM</span>
                            <span class="space"></span>

                            <span class="session-txt"><strong>Session:</strong></span>
                            <span class="session">London</span>
                            <span class="space"></span>

                            <span class="rrr-txt"><strong>Risk-to-Reward Ratio:</strong></span>
                            <span class="rrr">1:2</span>
                            <span class="space"></span>

                            <span class="position-txt"><strong>Position:</strong></span>
                            <span class="position">Long</span>
                            <span class="space"></span>

                            <span class="order-type-txt"><strong>Order Type:</strong></span>
                            <span class="order-type">Limit Order</span>
                            <span class="space"></span>

                            <span class="entry-text"><strong>Entry Level:</strong></span>
                            <span class="entry">1.0351</span>
                            <span class="space"></span>

                            <span class="exit-txt"><strong>Exit Level:</strong></span>
                            <span class="exit">1.0398</span>
                            <span class="space"></span>

                            <span class="timeframe-txt"><strong>Timeframe:</strong></span>
                            <span class="timeframe">15m</span>
                            <span class="space"></span>

                            <span class="confluences-txt"><strong>Confluences:</strong></span>
                            <span class="confluences">15m Order Block, 1h Support, 4h Order Block</span>
                        </p>
                    </div>
                    
                </div>
                <div class="img-container"><img src="https://storage.googleapis.com/tradetrack-bucket/EURUSD_2024-11-15_22-29-25.png" alt="Trade"></div>
            </div>

            <!-- 1st Trade -->


















            <div class="trade">
                <div class="info">
                    <div class="trade-num"><h3>Trade <span class="num">1</span></h3></div>
                    <div>
                        <p>
                            <span class="pair-txt"><strong>Pair:</strong></span>
                            <span class="pair-name">EURUSD</span>
                            <span class="space"></span>

                            <span class="date-txt"><strong>Date:</strong></span>
                            <span class="date">12/5/2002</span>
                            <span class="space"></span>

                            <span class="time-txt"><strong>Time:</strong></span>
                            <span class="time">11:00 AM</span>
                            <span class="space"></span>

                            <span class="session-txt"><strong>Session:</strong></span>
                            <span class="session">London</span>
                            <span class="space"></span>

                            <span class="rrr-txt"><strong>Risk-to-Reward Ratio:</strong></span>
                            <span class="rrr">1:2</span>
                            <span class="space"></span>

                            <span class="position-txt"><strong>Position:</strong></span>
                            <span class="position">Long</span>
                            <span class="space"></span>

                            <span class="order-type-txt"><strong>Order Type:</strong></span>
                            <span class="order-type">Limit Order</span>
                            <span class="space"></span>

                            <span class="outcome-txt"><strong>Outcome:</strong></span>
                            <span class="outcome">Profit</span>
                            <span class="space"></span>

                            <span class="entry-text"><strong>Entry Level:</strong></span>
                            <span class="entry">1.0351</span>
                            <span class="space"></span>

                            <span class="exit-txt"><strong>Exit Level:</strong></span>
                            <span class="exit">1.0398</span>
                            <span class="space"></span>

                            <span class="timeframe-txt"><strong>Timeframe:</strong></span>
                            <span class="timeframe">15m</span>
                            <span class="space"></span>

                            <span class="confluences-txt"><strong>Confluences:</strong></span>
                            <span class="confluences">15m Order Block, 1h Support, 4h Order Block</span>
                        </p>
                    </div>
                    
                </div>
                <div class="img-container"></div>
            </div>





            <div class="trade">
                <div class="info">
                    <div class="trade-num"><h3>Trade <span class="num">1</span></h3></div>
                    <div>
                        <p>
                            <span class="pair-txt"><strong>Pair:</strong></span>
                            <span class="pair-name">EURUSD</span>
                            <span class="space"></span>

                            <span class="date-txt"><strong>Date:</strong></span>
                            <span class="date">12/5/2002</span>
                            <span class="space"></span>

                            <span class="time-txt"><strong>Time:</strong></span>
                            <span class="time">11:00 AM</span>
                            <span class="space"></span>

                            <span class="session-txt"><strong>Session:</strong></span>
                            <span class="session">London</span>
                            <span class="space"></span>

                            <span class="rrr-txt"><strong>Risk-to-Reward Ratio:</strong></span>
                            <span class="rrr">1:2</span>
                            <span class="space"></span>

                            <span class="position-txt"><strong>Position:</strong></span>
                            <span class="position">Long</span>
                            <span class="space"></span>

                            <span class="order-type-txt"><strong>Order Type:</strong></span>
                            <span class="order-type">Limit Order</span>
                            <span class="space"></span>

                            <span class="outcome-txt"><strong>Outcome:</strong></span>
                            <span class="outcome">Profit</span>
                            <span class="space"></span>

                            <span class="entry-text"><strong>Entry Level:</strong></span>
                            <span class="entry">1.0351</span>
                            <span class="space"></span>

                            <span class="exit-txt"><strong>Exit Level:</strong></span>
                            <span class="exit">1.0398</span>
                            <span class="space"></span>

                            <span class="timeframe-txt"><strong>Timeframe:</strong></span>
                            <span class="timeframe">15m</span>
                            <span class="space"></span>

                            <span class="confluences-txt"><strong>Confluences:</strong></span>
                            <span class="confluences">15m Order Block, 1h Support, 4h Order Block</span>
                        </p>
                    </div>
                    
                </div>
                <div class="img"></div>
            </div>







            <div class="trade">
                <div class="info">
                    <div class="trade-num"><h3>Trade <span class="num">1</span></h3></div>
                    <div>
                        <p>
                            <span class="pair-txt"><strong>Pair:</strong></span>
                            <span class="pair-name">EURUSD</span>
                            <span class="space"></span>

                            <span class="date-txt"><strong>Date:</strong></span>
                            <span class="date">12/5/2002</span>
                            <span class="space"></span>

                            <span class="time-txt"><strong>Time:</strong></span>
                            <span class="time">11:00 AM</span>
                            <span class="space"></span>

                            <span class="session-txt"><strong>Session:</strong></span>
                            <span class="session">London</span>
                            <span class="space"></span>

                            <span class="rrr-txt"><strong>Risk-to-Reward Ratio:</strong></span>
                            <span class="rrr">1:2</span>
                            <span class="space"></span>

                            <span class="position-txt"><strong>Position:</strong></span>
                            <span class="position">Long</span>
                            <span class="space"></span>

                            <span class="order-type-txt"><strong>Order Type:</strong></span>
                            <span class="order-type">Limit Order</span>
                            <span class="space"></span>

                            <span class="outcome-txt"><strong>Outcome:</strong></span>
                            <span class="outcome">Profit</span>
                            <span class="space"></span>

                            <span class="entry-text"><strong>Entry Level:</strong></span>
                            <span class="entry">1.0351</span>
                            <span class="space"></span>

                            <span class="exit-txt"><strong>Exit Level:</strong></span>
                            <span class="exit">1.0398</span>
                            <span class="space"></span>

                            <span class="timeframe-txt"><strong>Timeframe:</strong></span>
                            <span class="timeframe">15m</span>
                            <span class="space"></span>

                            <span class="confluences-txt"><strong>Confluences:</strong></span>
                            <span class="confluences">15m Order Block, 1h Support, 4h Order Block</span>
                        </p>
                    </div>
                    
                </div>
                <div class="img"></div>
            </div>






            <div class="trade">
                <div class="info">
                    <div class="trade-num"><h3>Trade <span class="num">1</span></h3></div>
                    <div>
                        <p>
                            <span class="pair-txt"><strong>Pair:</strong></span>
                            <span class="pair-name">EURUSD</span>
                            <span class="space"></span>

                            <span class="date-txt"><strong>Date:</strong></span>
                            <span class="date">12/5/2002</span>
                            <span class="space"></span>

                            <span class="time-txt"><strong>Time:</strong></span>
                            <span class="time">11:00 AM</span>
                            <span class="space"></span>

                            <span class="session-txt"><strong>Session:</strong></span>
                            <span class="session">London</span>
                            <span class="space"></span>

                            <span class="rrr-txt"><strong>Risk-to-Reward Ratio:</strong></span>
                            <span class="rrr">1:2</span>
                            <span class="space"></span>

                            <span class="position-txt"><strong>Position:</strong></span>
                            <span class="position">Long</span>
                            <span class="space"></span>

                            <span class="order-type-txt"><strong>Order Type:</strong></span>
                            <span class="order-type">Limit Order</span>
                            <span class="space"></span>

                            <span class="outcome-txt"><strong>Outcome:</strong></span>
                            <span class="outcome">Profit</span>
                            <span class="space"></span>

                            <span class="entry-text"><strong>Entry Level:</strong></span>
                            <span class="entry">1.0351</span>
                            <span class="space"></span>

                            <span class="exit-txt"><strong>Exit Level:</strong></span>
                            <span class="exit">1.0398</span>
                            <span class="space"></span>

                            <span class="timeframe-txt"><strong>Timeframe:</strong></span>
                            <span class="timeframe">15m</span>
                            <span class="space"></span>

                            <span class="confluences-txt"><strong>Confluences:</strong></span>
                            <span class="confluences">15m Order Block, 1h Support, 4h Order Block</span>
                        </p>
                    </div>
                    
                </div>
                <div class="img"></div>
            </div>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Public/Scripts/main.js"></script>
</body>
</html>