<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Public/Styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeTrack</title>
    <link rel="icon" href="../Assets/Icon 100px.png" type="image/png">
    <meta name="google" content="notranslate">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8615384541979421"
     crossorigin="anonymous"></script>
</head>
<body>

    <div class="sidebar">
        <header>
            <button class="menu" id="menu-btn"><img src="../Assets/Menu.png" alt="Menu"></button>
            <button class="add"><img src="../Assets/Add.png" alt="Add"></button>
        </header>
        <div class="space"></div>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
        <a href="">Strategy 1</a>
        <a href="">Strategy 2</a>
        <a href="">Strategy 3</a>
        <a href="">Strategy 4</a>
        <a href="">Strategy 5</a>
    </div>


    <div class="main">
        <div class="header">
            <img class="logo" src="../Assets/Logo dark no bg.png" alt="TradeTrack Logo">

            <div class="set-details">
                <input class="set-name" type="text" placeholder="Set's Name" size="23"/>
                <textarea class="set-description" placeholder="Set's Description" rows="4" cols="25"></textarea>
            </div>

            <div class="img-container" id="img-container">
                <img src="../Assets/Img.png" alt="Image Upload">
                <p>Drag and Drop Image or Simply</p>
                <button class="browse-btn" id="browse-btn">Browse</button>
                <input type="file" id="file-input" accept="image/*" multiple style="display: none;">
            </div>

            <div class="left-btns">
                <div class="mobile-btns">
                    <button class="sets-list"><img src="../Assets/List.png" alt="List"></button>
                    <button class="browse-btn" id="browse-btn2">Browse</button>
                </div>
                <button class="info-btn"><img src="../Assets/info.png" alt="Info"></button>
            </div>
            
            
            <div class="other-buttons">
                <button class="manual-add">
                    <p>Manually Add Trade</p>
                </button>
                <div class="inline">
                    <button class="analytic-btn"><img src="../Assets/Analytic.png" alt="Analytics"></button>
                    <button class="data-setting"><img src="../Assets/Setting.png" alt="Setting"></button>
                    <button class="export-xml"><img src="../Assets/Export.png" alt="Export XML"><span class="xml"> XML</span></button>
                </div>
            </div>
            
        </div>
        

        <div class="content">
            <div class="content-space" id="content-space"></div>


            
            <!-- Modal -->
            <div id="deleteModal" class="modal">
                <div class="modal-content">
                    <p>Are you sure you want to delete?</p>
                    <button id="confirmDelete">Delete</button>
                    <button id="cancelDelete">Cancel</button>
                </div>
            </div>


            <!-- Trades are displayed here -->




        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Public/Scripts/main.js"></script>
</body>
</html>