
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh; 
    font-family: Arial, sans-serif;
    /* font-family: MADE-TOMMY; */
    background-color: #222222;
    font-size: 14px;
}








/* Sidebar styling */
.sidebar {
    width: 240px;
    min-width: 240px;
    background-color: #1b1b1b;
    color: white;
    overflow-y: auto;
}

.sidebar header {
    padding: 10px 5px 5px;
    background-color: #1b1b1b;
    position: fixed;
    width: 230px;
    border-bottom: 1px solid #575757;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.menu {
    background-color: transparent;
    border: 0;
    padding: 5px 5px 2px;
    border-radius: 10px;
    align-items: center;
}

.menu:hover {
    background-color: #383838;
}

.menu img {
    width: 24px;
    height: auto;
}


.add {
    background-color: transparent;
    border: 0;
    padding: 3px 3px 0 3px;
    border-radius: 10px;
    align-items: center;
}

.add:hover {
    background-color: #383838;
}

.add img {
    width: 30px;
    height: auto;
}




.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: #2b2b2b;
}

.sidebar .space {
    padding: 30px;
}


















/* ---------------------------------------- Main Header */





.main {
    flex-grow: 1;
    position: relative;
    background-color: #131313;
    color: #ebebeb;
    overflow-y: auto;
}





.main .header {
    position: fixed;
    top: 0;
    display: flex;
    left: 240px;
    width: calc(100% - 248px);
    background-color: #252525;
    padding: 12px 15px 12px;
    z-index: 1;
    border-radius: 0 0 20px 0;
}

.main .header .logo {
    width: 150px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}



.main .set-details {
    margin: 10px 0 0 0;
}

.main .set-name, .main .set-description {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
    color: white;
    border: 0;
    padding: 5px;
    margin: 5px 15px 0 0;
    border-radius: 5px;
    resize: none;
}



.header .img-container {
    border: 1px dashed rgb(129, 129, 129);
    width: 100%;
    padding: 5px 10px;
    display: grid;
    justify-content: center;
    border-radius: 20px;
    margin: 2px 0px 0px 5px;
    /* margin: 0; */
}

.header .img-container.dragover {
    background-color: #3d3d3d;
}

.main .header .img-container img {
    width: 28px;
    height: auto;
    margin: 5px auto 2px;
}

.header .img-container p {
    font-size: 12px;
    margin: 0 5px 2px;
}

.browse-btn {
    padding: 4px 10px;
    margin: 6px auto 10px;
    background-color: #0a794b;
    border: 0;
    border-radius: 6px;
    color: white;
}

.browse-btn:hover {
    background-color: #2b8357;
}

.mobile-btns {
    display: none;
}

.header .left-btns {
    display: flex;
}


.main .header .info-btn {
    background-color: transparent;
    border: #141414;
    display: grid;
    height: 18px;
    border-radius: 5px;
    margin-left: 5px;
}

.main .header .info-btn:hover {
    filter: brightness(0.8); /* Increase brightness */
}

.main .header .info-btn img {
    width: 18px;
    height: auto;

}


.header {
    display: flex;
    justify-content: space-between;
}




.header div .manual-add {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 15px;
    height: fit-content;
    border: 0;
    background-color: #0a794b;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    display: grid;
}

.header div .manual-add:hover {
    background-color: #2b8357;
}

.main .header .inline {
    display: flex;
}

.main .header div .analytic-btn {
    display: grid;
    background-color: transparent;
    border: #141414;
    border-radius: 7px;
    height: fit-content;
    margin: 12px;
    margin-left: 22px;
    padding: 2px 4px 4px 4px;
}

.main .header div .analytic-btn:hover {
    background-color: #3d3d3d;
}

.header div .analytic-btn img {
    width: 25px;
    height: auto;
}

.header div .data-setting {
    display: grid;
    background-color: transparent;
    border: #141414;
    border-radius: 7px;
    height: fit-content;
    margin: 12px;
    padding: 3px 2px 2px 2px;
    margin-left: 0;
}

.header div .data-setting:hover {
    background-color: #3d3d3d;
}

.header div .data-setting img {
    width: 25px;
    height: auto;
    
}

.header div .export-xml {
    display: flex;
    background-color: transparent;
    border: #141414;
    border-radius: 7px;
    /* width: fit-content; */
    margin: 12px;
    padding: 2px 4px 2px 4px;
    margin-left: 0;
    color: white;
    align-items: center;
    font-size: 12px;
}

.header div .export-xml:hover {
    background-color: #3d3d3d;
}

.header div .export-xml img {
    width: 25px;
    height: auto;
    margin-right: 5px;
}













/* ----------------------------------------------   Contents */




.content {
    padding: 60px 10px 20px 10px; /* Padding adjusts for fixed header */
    
}

.content .content-space {
    padding: 50px 0px;
}






/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #1f1f1f;
    margin: auto;
    padding: 10px 20px 20px;
    border: none;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 20px;
}

.modal-content p {
    margin-top: 20px;
}

.modal button {
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    color: white;
}

.modal #confirmDelete {
    background-color: rgb(212, 0, 0);
}

.modal #cancelDelete {
    background-color: rgb(54, 54, 54);
}

.modal #confirmDelete:hover {
    background-color: rgb(255, 15, 15);
}

.modal #cancelDelete:hover {
    background-color: rgb(66, 66, 66);
}










.trade {
    margin-bottom: 8px;
    display: flex;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    /* margin: 0; */
}

.trade .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    row-gap: 0px;
}


.trade .details div {
    min-width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    margin-right: 15px;
}

.trade .details .value {
    margin: 0 5px 8px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 0;
    color: white;
    border-radius: 5px;
    border: 1px solid #414141;
}

.trade .details button {
    background-color: #2b2b2b;
}

.trade .details button:hover {
    filter: brightness(1.2); /* Increase brightness (1.5x) */
}

.trade .details .outcome {
    background-color: #0a794b;
    border: 0;
}

.content .info {
    margin-right: 10px;
}

.content .img-container {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1; /* This maintains a 1:1 aspect ratio */
}

.content .img-container img:hover {
    filter: brightness(1.2); /* Increase brightness (1.5x) */
}

.content .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the image while preserving aspect ratio */
}

.content p {
    /* margin-bottom: 15px; */
    line-height: 1.6;
    /* height: fit-content; */
}

.trade-num {
    /* margin-right: 20px; */
    margin-bottom: 10px;

    background-color: #a30b0b; 
    /* r #aa0000 #2e2e2e g #15613b*/

    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.trade .title {
    display: flex;
    align-items: flex-start;
}

.trade .edit {
    background-color: transparent;
    border: 0;
    border-radius: 8px;
    padding: 4px 4px 0px 4px;
    margin-left: 10px;
}
.trade .delete {
    background-color: transparent;
    border: 0;
    border-radius: 8px;
    padding: 4px 4px 0px 4px;
    margin-left: 10px;
}
.trade .edit:hover {
    background-color: #2b2b2b;
}
.trade .delete:hover {
    background-color: #a30b0b;
}


.trade .edit img {
    width: 25px;
    height: auto;
}
.trade .delete img {
    width: 25px;
    height: auto;
}




/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 8px;  /* Thin vertical scrollbar */
    height: 8px; /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;  /* Dark track color */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #555;  /* Dark thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid transparent;  /* Subtle border for better visibility */
}

::-webkit-scrollbar-thumb:hover {
    background: #777;  /* Slightly lighter thumb on hover */
}

/* Optional: Style the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
    background: #222;
}










/* ------------------------------ Mobile Responsive */





.mobile-btns .sets-list {
    background-color: transparent;
    border: 0;
    padding: 5px 5px 2px;
    border-radius: 10px;
    align-items: center;
}
.mobile-btns .sets-list:hover {
    background-color: #383838;
}
.mobile-btns .sets-list img {
    width: 24px;
    height: auto;
}



@media (max-width: 1000px) {
    .main .logo {
        display: none;
    }
}



@media (max-width: 800px) {
    .main .set-details {
        display: none;
    }
}





/* Styles for devices with max width of 500px (mobile phones) */
@media (max-width: 600px) {
    .header .set-details {
        display: none;
    }

    .mobile-btns {
        display: block;
        width: 50px;
        margin: 5px 0 0 0;
    }
    body .sidebar {
        display: none;
    }
    .main .header {
        left: 0;
        width: calc(100% - 8px);
    }
    .main .img-container {
        display: none;
    }
    .main .header .logo {
        display: none;
    }
    .header div .manual-add {
        margin-left: 25px;
        margin-top: unset;
        padding: 9px 10px;
        font-size: 14px;
    }
    .main .header .inline {
        display: flex;
    }
    .main .header .other-buttons {
        margin-left: 0;
        margin-top: 10px;
        padding-left: 0;
    }
    .main .header .export-xml .xml {
        font-size: 11px;
    }
    .main .header .info-btn {
        margin-top: 28px;
        margin-left: 5px;
    }
    .main .header .browse-btn {
        padding: 8px 10px;
        margin-top: 15px;
        font-size: 14px;
    }
    .content .content-space {
        padding: 37px 0px;
    }
    
}